/* Estilos para telas maiores (desktop) */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
}

.header {
    width: 100%;
    text-align: center;
    padding: 10px;
}

.header img {
    max-width: 100%;
    height: auto;
    width: 100%;
    max-height: 100vh;
}

.column {
    width: calc(50% - 20px);
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para caixas em telas maiores */
.box {
    width: 150px;
    height: 150px;
    background-color: #f7f7f723;
    border: 1px solid #cccccc;
    border-radius: 50%;
    text-align: center;
    margin-top: 10px;
    opacity: 0.7;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Estilos para links dentro das caixas */
.box a {
    text-decoration: none;
    color: #333333;
}

p {
    margin: 10px 0;
    padding: 0;
}

/* Media query para dispositivos com largura menor que 768px (telas de celular) */
@media (max-width: 768px) {
    /* Estilos para telas menores (celulares) */

    .column {
        width: 100%; /* Ocupar toda a largura em telas pequenas */
        margin: 10px 0; /* Adicionar margem superior e inferior para separar as colunas */
    }

    /* Altera a ordem das colunas ímpares para manter dois de um lado e dois do outro */
    .column:nth-child(odd) {
        order: 1; /* Define a ordem como 1 (primeiro) */
    }

    /* Altera a ordem das colunas pares */
    .column:nth-child(even) {
        order: 2; /* Define a ordem como 2 (segundo) */
    }

    /* Estilos para caixas em telas menores */
    .box {
        width: 100%; /* Ocupar toda a largura das colunas */
        height: auto; /* Altura automática para se ajustar ao conteúdo */
        margin-top: 20px; /* Adicionar mais espaço entre as caixas */
    }
}
